body{
    font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
}

.h1{
    color: darkslategray;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas{
    background-color: lightgray;
    height: 100%;
    min-width: 300px;
}

.status-field{
    height: 40px;
    line-height: 0.5;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
}

#status-field-3 {
    background-color: gray;  
}

.card-buttons{
    display: flex;
    justify-content: space-between;
}


#on-btn, #off-btn, #send-btn, #update-btn{
    background-color: darkslategray;
    color: white;
}

.switch-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#switch{
    display: flex;
    align-items: center;
}

#myChart{
    height: 30vh;   
}

.log{
    background-color: black;
    color: greenyellow;
}

.log ul li{
    list-style: none;
    color: greenyellow;
    word-wrap: break-word;
    font-size: 0.9rem;
}

.log #api-log li:nth-of-type(1n+6) {
        display: none;
}

#chart-input{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;    
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

@media screen and (max-width: 768px) {

    .h1{
        font-size: 1.9rem;
    }

    .on-btn{
        margin-bottom: 10px;
    }

    .custom-switch{
        margin-bottom: 10px;
    }

    .log{
        min-height: 200px;
    }

    .chart {
        min-height: 300px;
    }

    .log ul li{
        font-size: 0.8rem;
    }

    .log #api-log li:nth-of-type(1n+6) {
        display: none;
}
}